
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.scriptures-section {
    height: 100vh;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.daily-scripture {
    /* background-color: rgb(44, 23, 23); */
    width: 80%;
    height: 80%;
    position: relative;
}
.scripture {
    /* color: rgb(9, 60, 230); */
    text-align: center;
    line-height: 40px;
    font-family: 'Lora', serif;
}

blockquote {
    /* color: rgb(187, 13, 13); */
    display: block;
    position: relative;
    width: 50%;
    margin: 5rem auto;
    padding: .5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: 'Times', serif;
}

blockquote::before {
    content: '\201c';
    top: 10px;
    left: -40px;
}
blockquote::after {
    content: '\201d';
    bottom: -80px;
    right: -600px;
}

blockquote::before,
blockquote::after {
    font-size: 10rem;
    position: relative;
}

.verse {
    /* color: rgb(24, 143, 0); */
    font-family: 'Lora', serif;
    position: absolute;
    right: 350px;
    bottom: 200px;
    font-style: italic;
    font-size: 20px;
    
}

@media screen and (max-width: 768px) {
    .scriptures-section {
        margin-bottom: 200px;
        height: 40vh;
        margin-top: 0;
        /* background-color: red; */
    }
    .daily-scripture {
        /* color: powderblue; */
        width: 100%;
        height: 80%;
        padding: 0;
        margin: 0;
    }
    .scripture {
        /* color: rgb(19, 140, 43); */
        /* text-align: center; */
        /* text-align: start; */
        line-height: 35px;
        font-size: 15px;
    }

    blockquote {
        /* margin-top: 0; */
        width: 80%;
        margin: 40px;
        padding: 5px 10px;
        /* background-color: rgb(3, 36, 61); */
        /* 
        
        
        font-size: 1.5rem; */
        line-height: 1.5rem;
    }
    blockquote::before {
        top: 15px;
        left: -35px;
    }
    blockquote::after {
        bottom: -35px;
        right: -655px;
    }
    
    blockquote::before,
    blockquote::after {
        font-size: 5rem;
    }
    .verse {
        right: 100px;
        bottom: 120px;
        /* color: yellow; */
        margin-top: 20px;
        font-size: 15px;

    }
}
@media screen and (max-width: 600px) {
    .scriptures-section {
        margin-bottom: 200px;
        height: 70vh;
        margin-top: 0;
        /* background-color: pink; */
    }
    .daily-scripture {
        /* color: powderblue; */
        width: 100%;
        height: 80%;
        padding: 0;
        margin: 0;
    }
    .scripture {
        /* color: rgb(19, 140, 43); */
        /* text-align: center; */
        /* text-align: start; */
        line-height: 35px;
        font-size: 15px;
    }

    blockquote {
        /* margin-top: 0; */
        width: 80%;
        margin: 40px;
        padding: 5px 10px;
        /* background-color: rgb(3, 36, 61); */
        /* 
        
        
        font-size: 1.5rem; */
        line-height: 1.5rem;
    }
    blockquote::before {
        top: 15px;
        left: -35px;
    }
    blockquote::after {
        bottom: -35px;
        right: -275px;
    }
    
    blockquote::before,
    blockquote::after {
        font-size: 5rem;
    }
    .verse {
        right: 50px;
        bottom: 70px;
        /* color: yellow; */
        margin-top: 20px;
        font-size: 15px;

    }
}